{# templates/category/new.html.twig #}
{% extends "_fullbase.html.twig" %}

{% block localTitle %}
	Nouvelle catégorie
{% endblock %}

{% block title %}
	Ajout d'une nouvelle catégorie
{% endblock title %}

{% block content %}
	<div class="main">

		{{ form_start(form) }}

		{{ form_label(form.name, 'Nom de la categorie') }}
		<div
			class="input-group">
			{# <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"> #}
			{{ form_widget(form.name, {'attr': {'class' : 'form-control'}}) }}
		</div>
		<span class="message_error">{{ form_errors(form.name)}}</span>
		{{ form_help(form.name) }}

		<button type="submit" class="btn btn-dark mb-2 mt-3">Créer la catégorie</button>

		{{ form_end(form) }}

	</div>
{% endblock content %}
