{# templates/category/show.html.twig #}
{% extends '_base.html.twig' %}

{% block localTitle %}
    Séries{% if (category.name|first|lower) matches '/[aeiouh]/' %}
        {{ "d'" ~ (category.name|lower) }}
    {% else %}
        {{ ' catégorie ' ~ (category.name|lower) }}
    {% endif %}
{% endblock localTitle %}

{% block title %}
    Séries trouvées pour la catégorie {{ category.name }}
{% endblock title %}

{% block content %}
    <div class="category_show main">
        <div>
            {# List of programs #}
            {% for program in programs %}
                <a href="{{ path('program_show', { program: program.slug }) }}">
                    <h2>
                        {{ program.title }}
                    </h2>
                </a>
                <p class="ml-4">
                    {{ program.summary }}
                </p>
            {% else %}
                Aucune série trouvée.
            {% endfor %}
        </div>
        {# Back to the list of categories #}
        <a class="brown" href="{{ app.request.headers.get('referer') }}">
            Revenir sur la dernière page
        </a>
    </div>
{% endblock content %}
