{# templates/episode/new.html.twig #}
{% extends "_fullbase.html.twig" %}

{% block localTitle %}
	Nouvel épisode
{% endblock %}

{% block title %}
	{{ program.title|capitalize ~ ' / Saison ' ~ season.number}}
	<h2>
		Création d'un nouvel épisode
	</h2>
{% endblock %}

{% block content %}
	<div class="main">

		{{ form_start(form) }}

		{# Title of the episode #}
		{{ form_label(form.title, '* Titre de l\'épisode *') }}
		<div class="input-group mb-3">
			{{ form_widget(form.title, {'attr': {'class' : 'form-control'}}) }}
		</div>
		<span class="message_error">{{ form_errors(form.title)}}</span>
		{{ form_help(form.title) }}

		{# Number of the episode #}
		{{ form_label(form.number, '* Numéro de l\'épisode *') }}
		<div class="input-group mb-3">
			{{ form_widget(form.number, {'attr': {'class' : 'form-control'}}) }}
		</div>
		<span class="message_error">{{ form_errors(form.number)}}</span>
		{{ form_help(form.number) }}

		{# Description #}
		{{ form_label(form.synopsis, 'Description') }}
		<div class="input-group mb-3">
			{{ form_widget(form.synopsis, {'attr': {'class' : 'form-control'}}) }}
		</div>
		<span class="message_error">{{ form_errors(form.synopsis)}}</span>
		{{ form_help(form.synopsis) }}

		<button type="submit" class="btn btn-dark mb-2">Créer le nouvel épisode</button>

		{{ form_end(form) }}

		{# Back links #}
		<div class="mt-1 pl-2">
			<a href="{{ path('program_show_season', { program: program.slug, season: season.id }) }}" class="brown mt-2">
				Liste des épisodes
			</a>
			<span class="px-2 text-dark">-</span>
			<a href="{{ path('program_show', { program: program.slug }) }}" class="brown mt-2">
				Index de la série
			</a>
		</div>
	</div>
{% endblock %}
