{# templates/program/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
	{{program.title}}
	Saison
	{{season.number}}
	episode
	{{episode.number}}
{% endblock %}

{% block body %}
	<div class="episode_show main">
		<div class="media">
			<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
			<div class="media-body">
				<h1>{{program.title}}<hr/>
					Saison
					{{season.number}}
					({{season.year}}) - Episode
					{{episode.number}}
				</h1>
				<hr/>
				<h2 class="font-primary">
					{{episode.title}}
				</h2>
				<hr/>
				<p>{{episode.synopsis}}</p>
				<hr/>
				<a class="brown" href="{{path('programs_show_season', {program: program.id, season: season.id})}}">
					Retour à la liste des épisodes
				</a>
			</div>
		</div>

	{% endblock %}
