{% extends '_fullbase.html.twig' %}

{% block title %}Hello SeasonController!
{% endblock %}

{% block body %}
	<div class="season_show main">
		{% block header %}
			<h1>Saison
				{{season.number}}
				de
				{{program.title}}
				({{season.year}})</h1>
			<hr/>
			<p class="text-black">{{season.description}}</p>
		{% endblock %}
		<div class="media">
			<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
			<div class="d-flex flex-column w-100">
				<div class="season_list">
					<ul class="w-100">
						<p class="mt-2 text-black">Liste des épisodes:</p>
						<hr/>
						{% for episode in episodes %}
							<li>
								<a class="dark" href={{path('program_episode_show', {program_slug: program.slug, season: season.id, episode: episode.id} )}}>Episode
									{{episode.number}}
									:
									{{episode.title}}
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<a class="black m-2" href="{{ path('program_show', {program_slug: program.slug}) }}">
					Retour vers la liste des saisons
				</a>
			</div>
		</div>
	</div>
{% endblock %}
