{# templates/season/_navbar.html.twig #}

<nav class="arrow-scroll">
    <div class="arrow-nav">
        {% if season.number - 1 > 0 %}
            <a href={{ path('program_season_show', {
                'program': program.slug,
                'number': season.number - 1
                }) }}
                class="dark">
            <
            </a>
            {% else %}
            <span class="disabled"><</span>
        {% endif %}
    </div>
    <div class="panel">
        {% for eachSeason in program.seasons %}
            {% set numSeason = eachSeason.number %}
            {% if numSeason < season.number %}
                <a href={{ path('program_season_show', {
                'program': program.slug,
                'number': numSeason
                }) }}
                title="{{ 'Voir la saison ' ~ numSeason}}"
                class="dark">
                    {{ numSeason }}
                </a>
                <span class="separator">.</span>
            {% elseif numSeason == season.number %}
                <span class="arrow-scroll-text">Saison {{ season.number }}</span>
            {% else %}
                <span class="separator">.</span>
                <a href={{ path('program_season_show', {
                'program': program.slug,
                'number': numSeason
                }) }}
                title="{{ 'Voir la saison ' ~ numSeason}}"
                class="dark">
                    {{ numSeason }}
                </a>
            {% endif %}
        {% else %}
            <span class="text-dark">Aucune saison trouvée</span>
        {% endfor %}
    </div>
    <div class="arrow-nav">
        {% if season.number + 1 <= program.seasons|length %}
            <a href={{ path('program_season_show', {
                'program': program.slug,
                'number': season.number + 1
                }) }}
                class="dark">
            >
            </a>
            {% else %}
            <span class="disabled">></span>
        {% endif %}
    </div>
</nav>