{% extends 'base.html.twig' %}

{% block title %}Hello SeasonController!
{% endblock %}

{% block body %}

	<div class="season_show">
		{% block header %}
			<h1>Saison
				{{season.number}}
				de
				{{program.title}}
				({{season.year}})</h1>
			<hr/>
			<p>{{season.description}}
			</p>
		{% endblock %}
		<div class="season_list">
			<ul>
				<p>Liste des épisodes:</p>
				<hr/>
				{% for episode in episodes %}
					<li>Episode
						{{episode.number}}
						:
						{{episode.title}}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
