{# templates/season/show.html.twig #}
{% extends '_base.html.twig' %}

{% block localTitle %}
    {{ (program.title|capitalize) ~ ' - Saison' ~ season.number }}
{% endblock localTitle %}

{% block nav_r_items %}
    <a href="{{
        path(
            'program_episode_new',
            { program: program.slug, season: season.id }
        )
        }}">
        <button type="button" class="btn btn-hoverLight">Nouvel épisode</button>
    </a>
{% endblock nav_r_items %}

{% block title %}
    <h1>
        {{ "Saison #{season.number} de #{program.title} (#{season.year})" }}
    </h1>
{% endblock title %}

{% block content %}
    {# season informations #}
    <div class="season_show main">
        <p class="text-black">
            {{ season.description }}
        </p>
        <div class="media">
            {% if program.poster %}
                <img class="align-self-start mr-3"
                    src="{{ program.poster }}"
                    alt="{{ program.title }} poster" />
            {% endif %}
            <div class="d-flex flex-column w-100">
                <div class="season_list">
                    {# list of episodes #}
                    <h5 class="mt-2 pl-2 text-black">
                        Liste des épisodes:
                    </h5>
                    <hr />
                    {% include 'episode/_index.html.twig' %}
                </div>
                {# Back to the season list #}
                <a class="brown m-2"
                    href="{{
                    path(
                        'program_show',
                        { program: program.slug }
                    )
                    }}">
                    Retour vers la liste des saisons
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
