{# templates/program/index.html.twig #}
{% extends '_base.html.twig' %}

{% block localTitle %}
    Séries
{% endblock localTitle %}

{% block nav_r_items %}
    <a href="{{ path('program_new') }}">
        <button type="button" class="btn btn-hoverLight">Nouvelle série</button>
    </a>
{% endblock nav_r_items %}

{% block title %}
    Liste des séries disponibles:
{% endblock title %}

{% block content %}
    <div class="programs main">
        {# Programs list #}
        {# TODO Twig: boucler avec for #}
        {% for program in programs %}
            <ul>
                {# TODO Twig: afficher l'index de la boucle #}
                <li>
                    <h3>
                        <a class="dark"
                            href="{{
                            path(
                                'program_show',
                                { program: program.slug }
                            )
                            }}">
                                {{ loop.index }}. {{ program.title }}
                        </a>
                        <span class="text-black">|</span>
                        <a href={{ path(
                            'category_show',
                            { categoryName: program.category.name }
                        ) }} class="brown">
                            <span>{{ program.category.name }}</span>
                        </a>
                    </h3>
                    <p class="pl-4">
                        {{ program.summary }}
                    </p>
                </li>
            </ul>
        {% else %}
            Aucune série disponible.
        {% endfor %}
    </div>
{% endblock content %}
