{# templates/program/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="program_show">
		<div class="media">
			<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
			<div class="media-body">
				<h1>{{ program.title }}</h1>
				<p>{{ program.summary }}</p>
				<p>Catégorie :
					<span class='danger'>{{ program.category.name }}</span>
				</p>
				<p>
					<ul>
						{% for season in seasons %}
							<a class="brown" href="{{path('programs_showSeason', {programId: program.id, seasonId: season.id})}}">
								<li>Saison
									{{season.number}}
									-
									{{season.year}}
								</li>
							</a>
						{% endfor %}
					</ul>
				</p>
			</div>
		</div>

		<a class="brown" href="{{ path('programs_index') }}">
			Retour à la liste des programmes
		</a>
	</div>

{% endblock %}
