{# templates/program/show.html.twig #}
{% extends '_base.html.twig' %}
{% set page = app.request.get('_route') %}


{% block localTitle %}
	{{ program.title }}
{% endblock localTitle %}

{% block nav_r_items %}
	<a href="{{path('program_season_new', {program: program.slug})}}">
		<button type="button" class="btn btn-hoverLight">Nouvelle saison</button>
	</a>
{% endblock nav_r_items %}

{% block title %}
	{{ program.title|upper }}
{% endblock title %}

{% block content %}
	{% block pages %}
		{# Tabs #}
			<ul class="tabs">
				{# Summary #}
				<li {% if page == 'program_show' %} class="selected" {% endif %}>
					{% if page != 'program_show' %}
						<a href={{ path('program_show', {'program': program.slug}) }} class="dark">Récapitulatif</a>
					{% else %}
						Récapitulatif
					{% endif %}
				</li>
				{# Seasons #}
				<li
					{% if not program.seasons %} class="disabled" {% endif %}
					{% if page == 'program_season_show'%} class="selected" {% endif %}
				>
				{% if program.seasons and page != 'program_season_show' %}
						<a href={{ path('program_season_show', {'program': program.slug}) }} class="dark">Saisons</a>
					{% else %}
						Saisons
					{% endif %}
				</li>
				{# Actors #}
				<li
					{% if not program.actors %} class="disabled" {% endif %}
					{% if page == 'program_actors' %} class="selected" {% endif %}
				>
					{% if program.actors and page != 'program_actors' %}
						<a href={{ path('program_actors', {'slug': program.slug}) }} class="dark">Acteurs</a>
					{% else %}
						Acteurs
					{% endif %}

				</li>
				{% if page == 'program_season_show' %}
					<li>{% include "season/_navbar.html.twig" %}</li>
				{% endif %}
			</ul>
	{% endblock %}
<div class="program_show main">

	<div class="media">
		{# program poster #}
		{% if program.poster %}
			<div class="poster">
				<img src="{{program.poster}}" alt="{{ program.title }} poster"/>
			</div>
		{% endif %}

		{# program informations #}
		<div class="media-body">
			{% block media %}
				<p>{{ program.summary }}</p>
				<hr/>
				<p class="text-black">
					<strong>Catégorie :</strong>
					<span class="ml-2 text-uppercase">
						<a class="brown font-weight-bold" href="{{path('category_show', {category: program.category.slug})}}">
						{{ program.category.name }}
						</a>
					</span>
				</p>
				<hr/>
				{# seasons displays #}
				{% include 'season/_seasons.html.twig' %}
				<hr/>
				{# actors displays #}
				<strong class="text-black">Acteurs :</strong>
				{% include 'actor/_actors.html.twig' %}
			{% endblock %}
		</div>
	</div>
	{# nav links #}
	<div class="bottom-nav">
		<a href="{{ app.request.headers.get('referer') }}">
			Retour
		</a>
		<span class="divider">-</span>
		<a href={{ path('program_index') }}>
			Liste des séries
		</a>
	</div>
</div {% endblock content %}
