{# templates/program/show.html.twig #}
{% extends '_fullbase.html.twig' %}
{% block title %}Série #{{ program.id }}
{% endblock %}
{% block nav_r_items %}
	<a href="{{path('program_season_new', {program_slug: program.slug})}}">
		<button type="button" class="btn btn-hoverLight">
			Nouvelle saison
		</button>
	</a>
{% endblock %}
{% block body %}
	<div class="program_show main">
		<div class="media">
			{% if program.poster %}
				<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster"/>
			{% endif %}
			<div class="media-body">
				<hr/>
				<h1>{{ program.title|upper }}</h1>
				<hr/>
				<p>{{ program.summary }}</p>
				<hr/>
				<p class="text-black">
					Catégorie :
					<span class="danger-text ml-2 text-uppercase">{{ program.category.name }}</span>
					{# display:block #}
				</p>
				<hr/>
				<ul>
					{% for season in seasons %}
						<li>
							{# TODO Lien vers le nom d'une route #}
							<a class="brown" href="{{path('program_show_season', {program_slug: program.slug, season: season.id})}}">
								Saison
								{{season.number}}
								{% if season.year %}
									-
								{% endif
                        %}
								{{season.year}}
							</a>
						</li>
					{% endfor %}
				</ul>
				<hr/>
				<strong class="text-black">Acteurs :</strong>
				<ul>
					{% for actor in program.actors %}
						<li>
							<a class="dark" href="{{path('program_actor_show', {program_slug: program.slug, actor_slug: actor.slug})}}">{{ actor.name }}</a>
						</li>
					{% else %}
						<li>Aucun acteur pour cette série</li>
					{% endfor %}
				</ul>
				<hr/>
				<a class="black" href="{{ path('program_index') }}">
					Retour à la liste des programmes
				</a>
			</div>
		</div>
	</div>

{% endblock %}
