{# templates/program/show.html.twig #}
{% extends '_base.html.twig' %}

{% block localTitle %}
	{{ program.title }}
{% endblock localTitle %}

{% block nav_r_items %}
	<a href="{{path('program_season_new', {program: program.slug})}}">
		<button type="button" class="btn btn-hoverLight">
			Nouvelle saison
		</button>
	</a>
{% endblock nav_r_items %}

{% block title %}
	{{ program.title|upper }}
{% endblock title %}

{% block content %}
<div class="program_show main">
	<div
		class="media">
		{# program poster #}
		{% if program.poster %}
			<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster"/>
		{% endif %}
		{# program informations #}
		<div class="media-body">
			<p>{{ program.summary }}</p>
			<hr/>
			<p class="text-black">
				Catégorie :
				<span class="danger-text ml-2 text-uppercase">{{ program.category.name }}</span>
			</p>
			<hr/>
			{# seasons displays #}
			{% include 'season/_index.html.twig' %}
			<hr/>
			{# actors displays #}
			<strong class="text-black">Acteurs :</strong>
			{% include 'actor/_index.html.twig' %}
			<hr/>
			{# back to the program list #}
			<a class="brown" href="{{ path('program_index') }}">
				Retour à la liste des séries
			</a>
		</div>
	</div>
</div {% endblock content %}
